services:
  pyro-camera-api:
    build:
      context: ./pyro_camera_api
    image: pyronear/pyro-camera-api:latest
    container_name: pyro-camera-api
    environment:
      CAM_USER: ${CAM_USER}
      CAM_PWD: ${CAM_PWD}
      MEDIAMTX_SERVER_IP: ${MEDIAMTX_SERVER_IP}
    volumes:
      - ./data:/usr/src/app/data
    command: uvicorn main:app --host 0.0.0.0 --port 8081
    restart: always
    network_mode: host
    logging:
      driver: json-file
      options:
        max-size: "100m"
        max-file: "5"

  engine:
    build:
      context: ./engine
    image: pyronear/pyro-engine:latest
    container_name: engine
    environment:
      API_URL: ${API_URL}
      CAM_USER: ${CAM_USER}
      CAM_PWD: ${CAM_PWD}
      MEDIAMTX_SERVER_IP: ${MEDIAMTX_SERVER_IP}
    volumes:
      - ./data:/usr/src/app/data
    command: python run.py
    restart: always
    network_mode: host
    logging:
      driver: json-file
      options:
        max-size: "100m"
        max-file: "5"
