services:
  reolink-api:
    build:
      context: ./reolink_api
    image: pyronear/reolink-api:latest
    container_name: reolink-api
    environment:
      CAM_USER: ${CAM_USER}
      CAM_PWD: ${CAM_PWD}
      MEDIAMTX_SERVER_IP: ${MEDIAMTX_SERVER_IP}
    volumes:
      - ./data:/usr/src/app/data
    command: python camera_api/main.py
    restart: always
    network_mode: host
    logging:
      driver: json-file
      options:
        max-size: "100m"
        max-file: "5"

  # engine:
  #   build:
  #     context: ./engine
  #   image: pyronear/pyro-engine:latest
  #   container_name: engine
  #   environment:
  #     API_URL: ${API_URL}
  #     CAM_USER: ${CAM_USER}
  #     CAM_PWD: ${CAM_PWD}
  #     MEDIAMTX_SERVER_IP: ${MEDIAMTX_SERVER_IP}
  #   volumes:
  #     - ./data:/usr/src/app/data
  #   command: python run.py
  #   restart: always
  #   network_mode: host
  #   logging:
  #     driver: json-file
  #     options:
  #       max-size: "100m"
  #       max-file: "5"
