version: '3.7'

services:
  web:
    build:
      context: ..
      dockerfile: ./server/src/Dockerfile
    command: uvicorn server.src.app.main:app --reload --workers 1 --host 0.0.0.0 --port 8000

    restart: always
    ports:
      - ${PORT}:8002