aiohappyeyeballs==2.6.1 ; python_version >= "3.9" and python_version < "4.0"
aiohttp==3.11.18 ; python_version >= "3.9" and python_version < "4.0"
aiosignal==1.3.2 ; python_version >= "3.9" and python_version < "4.0"
async-timeout==5.0.1 ; python_version >= "3.9" and python_version < "3.11"
attrs==25.3.0 ; python_version >= "3.9" and python_version < "4.0"
certifi==2025.4.26 ; python_version >= "3.9" and python_version < "4"
charset-normalizer==3.4.1 ; python_version >= "3.9" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
coloredlogs==15.0.1 ; python_version >= "3.9" and python_version < "4.0"
filelock==3.18.0 ; python_version >= "3.9" and python_version < "4"
flatbuffers==25.2.10 ; python_version >= "3.9" and python_version < "4.0"
frozenlist==1.6.0 ; python_version >= "3.9" and python_version < "4.0"
fsspec==2025.3.2 ; python_version >= "3.9" and python_version < "4"
huggingface-hub==0.30.2 ; python_version >= "3.9" and python_version < "4"
humanfriendly==10.0 ; python_version >= "3.9" and python_version < "4.0"
idna==3.10 ; python_version >= "3.9" and python_version < "4"
mpmath==1.3.0 ; python_version >= "3.9" and python_version < "4.0"
multidict==6.4.3 ; python_version >= "3.9" and python_version < "4.0"
ncnn==1.0.20240410 ; python_version >= "3.9" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "4"
onnxruntime==1.18.1 ; python_version >= "3.9" and python_version < "4.0"
opencv-python==4.11.0.86 ; python_version >= "3.9" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.9" and python_version < "4.0"
pillow==11.2.1 ; python_version >= "3.9" and python_version < "4"
portalocker==3.1.1 ; python_version >= "3.9" and python_version < "4.0"
propcache==0.3.1 ; python_version >= "3.9" and python_version < "4.0"
protobuf==6.30.2 ; python_version >= "3.9" and python_version < "4.0"
pyreadline3==3.5.4 ; sys_platform == "win32" and python_version >= "3.9" and python_version < "4.0"
pyroclient @ git+https://github.com/pyronear/pyro-api.git@9602ffe6b5f51be16dcdac493e8ee179fbb71667#subdirectory=client ; python_version >= "3.9" and python_version < "4"
pyroengine==0.2.0 ; python_version >= "3.9" and python_version < "4"
python-dotenv==1.1.0 ; python_version >= "3.9" and python_version < "4.0"
pywin32==310 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "4"
requests==2.32.3 ; python_version >= "3.9" and python_version < "4"
sympy==1.13.3 ; python_version >= "3.9" and python_version < "4.0"
tqdm==4.67.1 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.13.2 ; python_version >= "3.9" and python_version < "4"
urllib3==2.4.0 ; python_version >= "3.9" and python_version < "4"
yarl==1.20.0 ; python_version >= "3.9" and python_version < "4.0"
