certifi==2024.7.4 ; python_version >= "3.8" and python_version < "4"
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_version < "4"
idna==3.7 ; python_version >= "3.8" and python_version < "4"
pyroclient @ git+https://github.com/pyronear/pyro-api.git@767be30a781b52b29d68579d543e3f45ac8c4713#subdirectory=client ; python_version >= "3.8" and python_version < "4"
requests==2.32.3 ; python_version >= "3.8" and python_version < "4"
urllib3==2.2.2 ; python_version >= "3.8" and python_version < "4"
