# name: tests-RPI

# on:
#   push:
#     branches: [main, develop]
#   pull_request:
#     branches: [main, develop]

# jobs:
#   build:
#     runs-on: ${{ matrix.os }}
#     strategy:
#       fail-fast: false
#       matrix:
#         os: [self-hosted]
#     steps:
#       - uses: actions/checkout@v2
#       - name: Install package
#         run: |
#           python -m pip install --upgrade pip
#           pip install -e . --upgrade

#   pytest:
#     runs-on: ${{ matrix.os }}
#     strategy:
#       fail-fast: false
#       matrix:
#         os: [self-hosted]
#     needs: build
#     steps:
#       - uses: actions/checkout@v2
#       - name: Install dependencies
#         run: pip install -e ".[test]" --upgrade

#       - name: Run unittests
#         run: coverage run -m pytest tests/
