name: release

on:
  release:
    types: [published]

jobs:
  pypi-publish:
    if: "!github.event.release.prerelease"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
          architecture: x64
      - name: Cache python modules
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-python-${{ matrix.python }}-${{ hashFiles('pyproject.toml') }}-build
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine --upgrade
      - name: Get release tag
        id: release_tag
        run: |
          echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Build and publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
          VERSION: ${{ steps.release_tag.outputs.VERSION }}
        run: |
          BUILD_VERSION=${VERSION:1} python setup.py sdist bdist_wheel
          twine check dist/*
          twine upload dist/*

  pypi-check:
    if: "!github.event.release.prerelease"
    runs-on: ubuntu-latest
    needs: pypi-publish
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
          architecture: x64
      - name: Install package
        run: |
          python -m pip install --upgrade pip
          pip install pyroengine
          python -c "import pyroengine; print(pyroengine.__version__)"

  conda-publish:
    if: "!github.event.release.prerelease"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Miniconda setup
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: 3.8
      - name: Install dependencies
        run: |
          conda install -y conda-build conda-verify anaconda-client
      - name: Get release tag
        id: release_tag
        run: |
          echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Build and publish
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
          VERSION: ${{ steps.release_tag.outputs.VERSION }}
        run: |
          BUILD_VERSION=${VERSION:1} python setup.py sdist
          mkdir conda-dist
          conda-build -c pyronear -c conda-forge .conda/ --output-folder conda-dist
          ls -l conda-dist/noarch/*tar.bz2
          anaconda upload conda-dist/noarch/*tar.bz2

  conda-check:
    if: "!github.event.release.prerelease"
    needs: conda-publish
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: [3.8]
    steps:
      - uses: actions/checkout@v4
      - name: Miniconda setup
        uses: conda-incubator/setup-miniconda@v1
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python }}
      - name: Install package
        run: |
          conda install -c pyronear pyroengine
          python -c "import pyroengine; print(pyroengine.__version__)"


  dockerhub-publish:
    if: "!github.event.release.prerelease"
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_LOGIN }}
          password: ${{ secrets.DOCKERHUB_PW }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          repository: pyronear/pyro-engine
          tag_with_ref: true
